body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(''); 
    background-size: cover;
    background-position: center;
    color: #f4b41a; 
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 8px;
    overflow: hidden; 
}

th, td {
    padding: 30px; /* Aumenta o espaço entre os agendamentos */
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase; /* Faz o texto ficar em maiúsculas */
}

th {
    background-color: rgba(255, 255, 255, 0.2);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

a {
    display: block; /* Mantém o botão como bloco */
    width: 100px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #000; /* Botão preto */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #333; /* Cor ao passar o mouse */
}
