@charset "UTF-8";

body {
    background: url('') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.titulo {
    font-size: 28px;
    color: #f1c40f;
    margin: 20px 0;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.titulo::before {
    /* Ícone removido */
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    border-radius: 50%;
    padding: 15px;
    font-size: 40px;
    color: #f1c40f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.flash_alerta {
    background-color: #f39c12;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    align-items: flex-start; 
}

#form_fundo {
    backdrop-filter: blur(10px);
    opacity: 0.9;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #f1c40f;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 300px;
    width: 100%;
}

#form_frente {
    background-color: #000;
    margin: 10px 0;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
    color: #f1c40f;
    width: 94%; 
}

#btn_usuarios {
    margin-top: 20px;
    background-color: transparent;
    color: #f1c40f;
    border: 2px solid #000000;
    transition: all 0.3s ease;
    font-size: 16px;
    width: 25%; 
    padding: 10px; 
    border-radius: 50px; 
    text-align: center; 
    align-self: flex-start; 
}

#btn_usuarios:hover {
    background-color: #f1c40f;
    color: #000;
}



label {
    font-size: 18px;
    font-weight: bold;
    color: #f1c40f;
    display: block;
    margin: 10px 0;
    text-transform: uppercase;
}

input {
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #f1c40f;
    background: #333;
    color: #fff;
    width: calc(100% - 24px);
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #fff;
}

button {
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #f1c40f;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

button:hover {
    background-color: #000;
    color: #f1c40f;
    border: 2px solid #f1c40f;
}


.button-container {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
    margin-top: 20px; 
}

#btn_relatorio {
    margin-left: 10px; 
    background-color: transparent;
    color: #f1c40f;
    border: 2px solid #000000;
    transition: all 0.3s ease;
    font-size: 16px;
    width: 25%;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

#btn_relatorio:hover {
    background-color: #f1c40f;
    color: #000;
}
