<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Agendamentos</title>
    <link rel="stylesheet" href="../static/css/agendamentos.css">
</head>
<body>
    <h1>Lista de Agendamentos</h1>
    <table>
        <tr>
            <th>Nome Completo</th>
            <th>Telefone</th>
            <th>Serviço</th>
            <th>Data</th>
            <th>Horário</th>
        </tr>
        {% for agendamento in agendamentos %}
        <tr>
            <td>{{ agendamento.nome }}</td>
            <td>{{ agendamento.telefone }}</td>
            <td>{{ agendamento.servico }}</td>
            <td>{{ agendamento.data1 }}</td>
            <td>{{ agendamento.horario }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar para a Home</a>
</body>
</html>
