<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="../static/css/cadastrados.css">
</head>

<body>
    <h1 class="titulo">BARBEIROS CADASTRADOS</h1>

    {% set mensagem = get_flashed_messages() %}
    {% if mensagem %}
        <div class="flash_alerta">{{ mensagem[0] }}</div>
    {% endif %}

    <div class="container">
        <div id="form_fundo">
            <div id="form_frente" class="listaUsuarios">
                {% if usuarios %}
                    {% for c in usuarios %}
                        <form action="/excluirUsuario" method="post">
                            <ul>
                                <input type="hidden" name="usuarioPexcluir" value="{{c}}">
                                <li>NOME: {{c['nome']}}</li><br>
                                <li>SENHA: {{c['senha']}}</li>
                            </ul>
                            <button type="submit">EXCLUIR</button>
                        </form>
                        ---------------------------------------------
                    {% endfor %}
                {% else %}
                    <h1>Não existem usuários cadastrados.</h1>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>
