<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Barbeiro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>

    {% set mensagem = get_flashed_messages() %}
    {% if mensagem %}
        <div class="flash_alerta">
            {{ mensagem[0] }}
        </div>
    {% endif %}

    <nav class="navbar">
        <div class="navbar-container">
            <a href="/cadastrados" class="navbar-item">Barbeiros</a>
            <a href="/relatorio" class="navbar-item">Relatório</a>
            <a href="/estoque" class="navbar-item">Estoque</a>
            <a href="/financeiro" class="navbar-item">Financeiro</a> 
            <a href="/vendas" class="navbar-item">Vendas</a>
            <a href="/home" class="navbar-item">Home</a>
            <a href="/login" class="navbar-item">Login</a>
            

        </div>          
    </nav>

    <section class="main-content">
        <div class="form-container">
            <div class="form-card">
                <h2 class="form-title">Cadastro de Barbeiro</h2>

                <form action="/cadastrarUsuario" method="post">
                    <div class="input-group">
                        <label for="nome">Nome Completo</label>
                        <input type="text" name="nome" id="nome" required placeholder="Digite o nome do barbeiro">
                    </div>

                    <div class="input-group">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" required placeholder="Escolha uma senha segura">
                    </div>

                    <button type="submit" id="btn_submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </section>

</body>
</html>
