<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="../static/css/relatorio.css"> <!-- Adicione seu CSS aqui -->
</head>

<body>
    <h1 class="titulo">Relatório</h1>
    <div class="container">
        <p>Aqui você pode adicionar as informações do relatório.</p>
    </div>
</body>

</html>
